.filtro:hover {
  filter: blur(5px);
}

@media all and (max-width: 576px) {
  .sliderResponsive {
    height: 250px;
    /* es para que la imagen no se desforme y se corte automaticamente */
    object-fit: cover;
  }

  .centrar{
    text-align: center;
  }
}

